body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
  font-family: monospace;
}

label {
  font-size: 30px;
  background-color: lightpink;
}
select {
  font-size: 30px;
  background-color: lightblue;
}